<div class="container">
  <div class="row">
    <ul>
      {% for registro in object_list %}

      <li>{{ registro.identificacion }}</li>
      <li>{{ registro.nom_mat }}</li>
      <li>{{ registro.nom_int }}</li>
      <li>{{ registro.nom_vesp }}</li>
      <a href="{% url 'registro:modificar' registro.id %}">modificar</a>
      <a href="{% url 'registro:borrar' registro.id %}">Borrar</a>
      <br>
      {% endfor %}
    </ul>
    <a href="{% url 'registro:crear' %}">Crear</a>
  </div>
</div>
