<div class="container">
  <div class="row">
    <a href="{% url 'registro:index_list' %}">Todos</a>
    <a href="{% url 'registro:list_mat' %}">Matutino</a>
    <a href="{% url 'registro:list_int' %}">Interturno</a>
    <a href="{% url 'registro:list_vesp' %}">Vespertino</a>
    <ul>
      {% for registro in object_list %}

      <li>{{ registro.identificacion }}</li>
      <li>{{ registro.nom_int }}</li>

      <a href="{% url 'registro:modificar' registro.id %}">modificar</a>
      <a href="{% url 'registro:borrar' registro.id %}">Borrar</a>
      <br>
      {% endfor %}
    </ul>
    <a href="{% url 'registro:crear' %}">Crear</a>
  </div>
</div>
