{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

<div class="container cont-estilo">
  <form method="POST">
   <header class="header-estilo"><strong>Modificar</strong></header>
      {% csrf_token %}
      <ul style="list-style: none; padding: 10px;">
        <li>
          Alumno Interturno
          {{form.id_int}}
          {{form.nom_int}}
        </li>
      </ul>
      <input class="btn btn-primary" type="" name="create" value="Modificar">
  </form>
</div>


{% endblock%}