{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}


<div class="container cont-estilo">
  <form method="POST">

      <header class="header-estilo"><strong>Modificar</strong></header>
      {% csrf_token %}
      <!--{{form}}-->
      <ul style="list-style: none; padding: 10px;">
        <li>
          Alumno Turno Matutino{{form.id_mat}}
          {{form.nom_mat}}
        </li>
        <li>
          Alumno Interturno{{form.id_int}}
          {{form.nom_int}}
        </li>
        <li>
          Alumno Turno Vespertino{{form.id_vesp}}
          {{form.nom_vesp}}
        </li>
      </ul>
      <input class="btn btn-primary" type="submit" name="create" value="Modificar">
  </form>
</div>
{% endblock %}
